---
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'
import FormattedDate from '../components/FormattedDate.astro'
import BlogItem from '../components/BlogItem.astro'
import { Debug } from 'astro:components';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogPost',
})
console.log(data)

interface Post {
	title: string
	date: string
	description: string
	slug: string
	image: string
}

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("en-GB", {dateStyle: "full"}),
    description: story.content.description,
    slug: story.full_slug,
		image: story.content.image,
  }
})

const { blok } = Astro.props
---

<main class="w-full xl:w-3/5 pt-0 mt-0">
	<section class="border-black border-2 bg-violet-300 p-6 shadow-[8px_8px_0px_rgba(0,0,0,1)] w-full">
		<h1 class="font-hammersmith text-xl xl:text-4xl w-full pb-2 text-center">Blog</h1>
		<ul class="flex flex-wrap justify-center gap-5 list-none" {...storyblokEditable(blok)}>
			{
				posts.map((post: Post, index: number) => (
					<BlogItem post={post} index={index} />
				))
			}
		</ul>
	</section>
</main>
